In [56]:
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
import warnings 
warnings.filterwarnings("ignore", category=DeprecationWarning)
import os
import html.parser 
from nltk.tokenize import word_tokenize, wordpunct_tokenize
from nltk import tokenize as tknz
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer, WordNetLemmatizer
from nltk.corpus import wordnet
import pickle

In [57]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from gensim.models import Word2Vec

In [58]:
combine_df = pd.read_pickle("result.sav")
combine_df.head(3)

,id,label,tweet,tweet_token,tweet_token_filtered,tweet_stemmed,tweet_lemmatized
0,1,0.0,when father is dysfunctional and is so selfish...,"[when, father, is, dysfunctional, and, is, so,...","[father, dysfunctional, selfish, drags, kids, ...","[father, dysfunct, selfish, drag, kid, dysfunc...","[father, dysfunctional, selfish, drag, kid, dy..."
1,2,0.0,thanks for lyft credit cannot use cause they d...,"[thanks, for, lyft, credit, can, not, use, cau...","[thanks, lyft, credit, use, cause, offer, whee...","[thank, lyft, credit, use, caus, offer, wheelc...","[thank, lyft, credit, use, cause, offer, wheel..."
2,3,0.0,bihday your majesty,"[bihday, your, majesty]","[bihday, majesty]","[bihday, majesti]","[bihday, majesty]"

1. Создайте мешок слов с помощью sklearn.feature_extraction.text.CountVectorizer.fit_transform(). Применим его к 'tweet_stemmed' и 'tweet_lemmatized' отдельно.
    * Игнорируем слова, частота которых в документе строго превышает порог 0.9 с помощью max_df.
    * Ограничим количество слов, попадающий в мешок, с помощью max_features = 1000.
    * Исключим стоп-слова с помощью stop_words='english'.
    * Отобразим Bag-of-Words модель как DataFrame. columns необходимо извлечь с помощью CountVectorizer.get_feature_names().

In [59]:
arr = np.concatenate((combine_df['tweet_stemmed']))
arr1 = np.concatenate((combine_df['tweet_lemmatized']))
len(arr),len(arr1)

(379155, 379155)

In [60]:
count_vectorizer = CountVectorizer(max_df=0.9, max_features = 1000, stop_words='english')

bag_of_words = count_vectorizer.fit_transform(arr)

stemmed = pd.DataFrame(bag_of_words.toarray(), columns = count_vectorizer.get_feature_names())
stemmed.head()

,abl,absolut,accept,account,act,action,actor,actual,ad,adapt,...,yo,yoga,york,young,youtub,yoyou,yoyour,yoyoy,yr,yummi
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [61]:
count_vectorizer = CountVectorizer(max_df=0.9, max_features = 1000, stop_words='english')

bag_of_words = count_vectorizer.fit_transform(arr1)

lemmatized = pd.DataFrame(bag_of_words.toarray(), columns = count_vectorizer.get_feature_names())
lemmatized.head()

,able,absolutely,accept,account,act,action,actor,actually,adapt,add,...,yoga,york,young,youtube,yoyou,yoyour,yoyoyou,yr,yrs,yummy
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

2. Создайте мешок слов с помощью sklearn.feature_extraction.text.TfidfVectorizer.fit_transform(). Применим его к 'tweet_stemmed' и 'tweet_lemmatized' отдельно.
    *	Игнорируем слова, частота которых в документе строго превышает порог 0.9 с помощью max_df.
    *	Ограничим количество слов, попадающий в мешок, с помощью max_features = 1000.
    *	Исключим стоп-слова с помощью stop_words='english'.
    *	Отобразим Bag-of-Words модель как DataFrame. columns необходимо извлечь с помощью TfidfVectorizer.get_feature_names().

In [62]:
tfidf_vectorizer = TfidfVectorizer(max_df=0.9, max_features = 1000, stop_words='english')
values = tfidf_vectorizer.fit_transform(arr)

stemmed1 = pd.DataFrame(values.toarray(), columns = tfidf_vectorizer.get_feature_names())
stemmed1.head()

,abl,absolut,accept,account,act,action,actor,actual,ad,adapt,...,yo,yoga,york,young,youtub,yoyou,yoyour,yoyoy,yr,yummi
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [63]:
tfidf_vectorizer = TfidfVectorizer(max_df=0.9, max_features = 1000, stop_words='english')
values = tfidf_vectorizer.fit_transform(arr)

lemmatized1 = pd.DataFrame(values.toarray(), columns = tfidf_vectorizer.get_feature_names())
lemmatized1.head()

,abl,absolut,accept,account,act,action,actor,actual,ad,adapt,...,yo,yoga,york,young,youtub,yoyou,yoyour,yoyoy,yr,yummi
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

3. Натренируем gensim.models.Word2Vec модель на наших данных.
    *	Тренировать будем на токенизированных твитах combine_df['tweet_token']
    *	Установим следующие параметры: size=200, window=5, min_count=2, sg = 1, hs = 0, negative = 10, workers= 32, seed = 34.
    *	Используем функцию train() с параметром total_examples равным длине combine_df['tweet_token'], количество epochs установим 20.

In [93]:
modelW2V = Word2Vec(sentences=combine_df['tweet_token'], size=200, window=5, min_count=1, sg = 1, hs = 0, negative = 10, workers= 32, seed = 34)

In [94]:
modelW2V.train(combine_df['tweet_token'], total_examples=combine_df['tweet_token'].shape[0], epochs=20)

(9868717, 11793180)

4. Давайте немного потестируем нашу модель Word2Vec и посмотрим, как она работает. Мы зададим слово positive = "dinner", и модель вытащит из корпуса наиболее похожие слова c помощью функции most_similar. То же самое попробуем со словом "trump".

In [66]:
modelW2V.most_similar('dinner')

[('bihdaydinner', 0.5495595932006836),
 ('bolognese', 0.5419440269470215),
 ('spaghetti', 0.5360398292541504),
 ('lastnight', 0.5268455743789673),
 ('shawarma', 0.519164502620697),
 ('tacotuesday', 0.5167369842529297),
 ('cookout', 0.5164445638656616),
 ('lamb', 0.5152925252914429),
 ('sissy', 0.5062272548675537),
 ('starbuck', 0.5047006011009216)]

In [67]:
modelW2V.most_similar('trump')

[('donald', 0.5660478472709656),
 ('donaldtrump', 0.5273729562759399),
 ('dumptrump', 0.5155906081199646),
 ('unfit', 0.5140501260757446),
 ('fuhered', 0.5125054717063904),
 ('conman', 0.50942462682724),
 ('commie', 0.5036566853523254),
 ('crony', 0.5012408494949341),
 ('carl', 0.5009146332740784),
 ('phony', 0.5008861422538757)]

5. Из приведенных выше примеров мы видим, что наша модель word2vec хорошо справляется с поиском наиболее похожих слов для данного слова. Но как она это делает? Она изучила векторы для каждого уникального слова наших данных и использует косинусное сходство, чтобы найти наиболее похожие векторы (слова).
Давайте проверим векторное представление любого слова из нашего корпуса, например "food".

In [68]:
vector = modelW2V.wv['food']
vector

array([-0.4596344 ,  0.22293873,  0.48624277, -0.21726386,  0.3285925 ,
       -0.5645259 , -0.10776344, -0.11038974, -0.733106  ,  0.08743382,
        0.31078923, -0.25523064, -0.05560863, -0.23323925, -0.0920636 ,
       -0.20872588, -0.21829939,  0.5492718 ,  0.4739127 ,  0.3439459 ,
       -0.62754124,  0.37689847, -0.4732972 , -0.11374933,  0.00227439,
        0.31667542, -0.06153191, -0.09968901, -0.03625902, -0.25389186,
        0.15617006,  0.10534139,  0.5328514 ,  0.35480988, -0.4762141 ,
       -0.42708066, -0.40123975, -0.3594698 , -0.01612644, -0.17545842,
        0.08167554, -0.16152434, -0.00680523, -0.15185507, -0.33572012,
       -0.40910426, -0.4062544 ,  0.744888  ,  0.19154502, -0.11473044,
        0.1693945 , -0.5537922 ,  0.18785349,  0.03290243, -0.40672892,
       -0.16061367, -0.40992314, -0.02949276, -0.1134589 ,  0.4229695 ,
        0.3013508 , -0.16018997,  0.3839877 ,  0.71675295,  0.4510434 ,
        0.27790207, -0.8773205 , -0.9734968 , -0.05797531, -0.5810223 ,
       -0.07391292,  0.42762777,  0.01906729, -0.4444185 ,  0.5239795 ,
       -0.6914628 ,  0.7587278 , -1.3263416 ,  0.64361936, -0.7943445 ,
       -0.03816149, -0.4359806 ,  0.4271013 , -0.16589983,  0.47350436,
        0.26808786,  0.03989612, -0.65932536,  0.43919683,  0.1984212 ,
        0.05224562,  0.20947154, -0.048814  , -0.21464829, -0.5637771 ,
        0.07767072,  0.2828546 ,  0.35251242,  0.02559464,  0.04541689,
        0.03392006,  0.00942109, -0.1434917 , -0.03210269,  0.19188754,
       -0.48065838,  0.6567348 ,  0.35902593,  0.00990961, -0.02840414,
       -0.13816714,  0.2550122 , -0.03315263, -0.50769216, -0.2892582 ,
        0.04736977, -0.66297776,  0.02584126,  0.25104454,  0.31378397,
        0.7305248 , -0.01193016, -0.55965686,  0.1534979 ,  0.19377583,
       -0.47204232, -0.48848328, -0.4194845 ,  0.17122425, -0.6758356 ,
       -0.08444192, -0.12496752,  0.19213198, -0.64093566, -0.8346005 ,
       -0.17997955, -0.453362  , -0.67097855,  0.622431  , -1.0017366 ,
        0.58787096, -0.0099316 ,  0.5654249 ,  0.29256162,  0.16985518,
       -0.9704179 , -0.73428136, -0.1297085 , -0.3289345 , -0.5289164 ,
       -0.66014653,  0.2383968 , -0.5622307 , -0.3841469 ,  0.58792114,
        0.4384094 , -0.74707085,  0.08961444, -0.26749787, -0.2261639 ,
       -0.22522414,  0.30077258, -0.2928237 ,  0.22221912,  0.05006327,
        0.80940247, -0.6505237 ,  0.10241833, -0.9292993 ,  0.4890275 ,
        0.3797233 , -0.0949676 , -0.6726235 , -0.23336467, -0.12786542,
        0.20129323,  0.67305535,  0.4830457 , -0.15055956, -0.4320045 ,
       -0.5033413 , -0.632671  , -0.08086589, -0.5344857 , -0.03039906,
       -0.03870916,  0.02598811, -0.30374232,  0.01685902,  0.03451817,
        0.31084508,  0.37978107, -0.44025877,  0.31924868,  0.20942618,
        0.2946682 , -0.5460635 , -0.06154193, -0.09090894, -0.11561011],
      dtype=float32)

6. Поскольку наши данные содержат твиты, а не только слова, нам придется придумать способ использовать векторы слов из модели word2vec для создания векторного представления всего твита. Существует простое решение этой проблемы, мы можем просто взять среднее значение всех векторов слов, присутствующих в твите. Длина результирующего вектора будет одинаковой, то есть 200. Мы повторим тот же процесс для всех твитов в наших данных и получим их векторы. Теперь у нас есть 200 функций word2vec для наших данных.
Необходимо создать вектор для каждого твита, взяв среднее значение векторов слов, присутствующих в твите. В цикле сделать:  vec += model_w2v[word].reshape((1, size))
и поделить финальный вектор на количество слов в твите.
На выходе должен получиться wordvec_df.shape = (49159, 200).

In [95]:
def get_vector(tweet):
    if len(tweet) ==0:
        return 0
    
    vec = 0
    for word in tweet:
        vec += modelW2V[word].reshape((1, 200))
    vec /= len(tweet)
    return vec

In [96]:
combine_df['tweet_vector'] = combine_df['tweet_token'].apply(lambda x: get_vector(x))